@orangeBakgrunn: #fff4e8;

.resultatside {
	padding: 1rem 1.4rem;

	.resultatliste {
		list-style: none;

		.sporsmal__besvarelse {
			border: 1px solid @navBlaLighten20;
			padding: 1rem;
			margin-top: 1rem;
			-webkit-padding-start: 0;
		}
	}

	.overskrift__tema {
		text-align: center;
		margin-bottom: 1.5rem;
	}

	.temaliste {
		list-style: none;
		padding: 0;

		.enkelt__tema {
			border: 1px solid @orangeFocus;
			border-radius: 4px;
			background-color: @orangeBakgrunn;
			margin-bottom: 1rem;

			.aktivitet {
				ul {
					margin-top: 1rem;
					margin-bottom: 1rem;
					font-weight: bold;
					padding-bottom: 0.5rem;
				}
				ul li {
					font-weight: normal;
					padding-bottom: 0;
				}
			}
		}
	}

	.resultat__info {
		text-align: center;
		margin: 1rem 0 2rem;
	}

	.resultat__infotekst {
		text-align: center;
		margin: 2rem auto;
		width: 240px;
	}

	.innholdscontainer {
		background-color: white;
		padding: 1rem;
	}

	.panel {
		border: 1px solid #b7b1a9;
		background-color: @navLysGra;
	}

	.ekspanderbartPanel {
		margin-top: 1rem;
	}

	.ekspanderbartPanel__hode {
		background-color: transparent;
		border: 0;
		padding: 2rem;
		text-align: left;
		&:hover {
			box-shadow: #ffbd66 0 2px 1px 0;
		}
		.typo-normal {
			margin-bottom: 1rem;
		}
		.indikator-wrap {
			margin-top: 1rem;
			text-align: center;
			.ekspanderbartPanel__indikator {
				width: 25px;
			}
		}
	}

	.ekspanderbartPanel__heading {
		margin-bottom: 0.5rem;
	}

	.ekspanderbartPanel__innhold {
		background-color: transparent;
		border: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: -1rem;
	}

	.ekspanderbartPanel--lukket {
		.ekspanderbartPanel__innhold {
			max-height: 0;
			overflow: hidden;
			padding-top: 0;
			transition: max-height 1s ease-in-out;
		}
	}
	.ekspanderbartPanel--apen {
		.ekspanderbartPanel__innhold {
			max-height: 1000px;
			overflow: auto;
			padding-bottom: 1rem;
			margin-top: -1rem;
			margin-bottom: -1rem;
			transition: max-height 1s ease-in-out;
			.typo-element {
				display: inline;
			}
		}
		.ekspanderbartPanel__indikator {
			width: 25px;
		}
	}
}

@media (min-width: @screen-sm-min) {
	.resultatside {
		.temaliste {
			margin: 0 7rem;
		}
	}
}
