.alternativer {
	list-style: none;
	padding: 0;

	.alternativ {
		list-style: none;
		border-bottom: 1px solid @navGra20;

		&:first-child {
			border-top: 1px solid @navGra20;
		}

		.alternativ__input {

			& + .alternativ__label {
				display: block;
				padding: 1.2rem 3rem 1.2rem 3.2rem;
				color: @navGra60;
			}

			& + .disabled {
				background-color: @navLysGra;
				color: black;
			}

			& + .markert {
				color: @navMorkGra;
				border-color: @navBla;
				background: data-uri('../src/ikoner/checkmark-03.svg') ~'calc(100% - 1rem)' center no-repeat;
				background-size: 32px 32px;
			}
		}

		.alternativ__input:checked {
			& + .alternativ__label {
				background-color: @navBlaLighten80;
			}
		}

		.alternativ__input:focus {
			& + .alternativ__label {
				outline: none;
				box-shadow: 0 0 0 3px @orangeFocus;
			}
		}

		.alternativ__label:before {
			top: auto;
			left: 1.5rem;
		}

		.overskrift-med-hjelpetekst {
			display: inline;
			.hjelpetekst {
				padding-left: 0.5rem;
			}
			svg {
				height: 16px;
				width: 16px;
			}
		}
	}
}

@media (min-width: @screen-sm-min) {
	.sporsmal__start + .alternativer,
	.sporsmal__start-lukket + .alternativer {
		display: flex;
		justify-content: space-between;
		flex-flow: row wrap;
		.alternativ {
			width: 49%;
			padding: 0.5rem;
			border-bottom: 0;
			&:first-child {
				border-top: 0;
			}
			.alternativ__input {
				width: 50%;
				& + .alternativ__label {
					border: 1px solid @navGra20;

					&:hover {
						background-color: @navLysBlaLighten80;
					}
				}
			}
		}
	}
}
