.sporsmal__knapp {
	margin: 1rem auto;
	display: block;
	width: 56px;
	height: 56px;
	background-color: @navBla;
	border-radius: 50%;
	font: ~'0/0' a;
	color: transparent;
	border: 0;
	cursor: pointer;
	&:before {
		content: '';
		display: inline-block;
		width: 12px;
		height: 12px;
		margin-top: -2px;
		border-bottom: 2px solid @white;
		border-right: 2px solid @white;
		transform: rotate(45deg);
	}
}

.sporsmal__knapp__tilbake {
	margin: 2rem auto 0;
	display: block;
	padding: 3px 0;
	border: 0;
	background: none;
	cursor: pointer;
	border-bottom: 1px solid @navGra40;
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		width: 12px;
		height: 12px;
		margin-top: -16px;
		left: ~'calc(50% - 6px)';
		border-top: 2px solid black;
		border-left: 2px solid black;
		transform: rotate(45deg);
	}
}

.knapperad {
	padding-top: 0;
	margin-top: -3.5rem;
}
