.sporsmalsliste {
  list-style: none;
  padding: 0;
}

.sporsmal {
  margin: 2rem 0;

  &__start-lukket {
    display: block;
    position: static;

    .sporsmal__paginering {
      display: none;
    }

    .sporsmal__innhold {
      margin-top: 5%;
      //transition: margin-top 0.5s;
    }

    .sporsmal__overskrift {
      font-size: 1.375rem;
      //transition: font-size 0.5s;
    }

    & + .sporsmal__full {
      display: block;
      //transform: translateY(0);
      //transition: transform 0.5s;
    }

    .sporsmal__ikon {
      width: 49px;
      height: 63px;
      //transition: width 0.5s, height 0.5s;
    }

    .sporsmal__videre {
      display: none;
    }
  }

  &:first-child {
    margin-top: 1rem;
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  .sporsmal__innhold {
    text-align: center;
  }

  &__ingress {
    margin-bottom: 1rem;
  }

  &__knapp {
    margin: 1rem auto;
    display: block;
    width: 56px;
    height: 56px;
    background-color: @navBla;
    border-radius: 50%;
    font: ~'0/0' a;
    color: transparent;
    border: 0;
    cursor: pointer;
    &:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-top: -2px;
      border-bottom: 2px solid @white;
      border-right: 2px solid @white;
      transform: rotate(45deg);
    }
  }

  &__knapp__tilbake {
    margin: 1rem auto;
    display: block;
    width: 20px;
    height: 20px;
    font: ~'0/0' a;
    background-color: rgb(236, 247, 251);
    border: 0;
    cursor: pointer;
    &:before {
      content: '';
      display: inline-block;
      width: 12px;
      height: 12px;
      margin-top: -2px;
      border-top: 2px solid black;
      border-left: 2px solid black;
      transform: rotate(45deg);
    }
  }
}
