.sporsmal {
    &__start {
        display: flex;
        height: 100%;
        justify-content: space-between;
        flex-direction: column;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;

        .sporsmal__paginering {
            display: block;
            margin: 1rem auto 0;
            text-align: center;
        }

        .sporsmal__ikon {
            margin: 0 auto 1rem;
            width: 65px;
            height: 90px;
        }

        .sporsmal__videre {
            display: block;
            margin-bottom: 1rem;
            animation: sprett 2s infinite alternate;
        }

        .sporsmal__knapp__tilbake {
            display: none;
        }

        &-lukket {
            .sporsmal__knapp__tilbake {
                display: block;
            }
        }
    }
}

@keyframes sprett {
    30%,
    100% {
        transform: translate(0px, -10px);
    }
}

@media (min-width: @screen-sm-min) {
    .sporsmal {
        &__start {
            position: static;

            .sporsmal__paginering {
                display: none;
            }

            .sporsmal__innhold {
                margin: 5% 0;
            }

            .sporsmal__ikon {
                width: 65px;
                height: 90px;
            }

            .sporsmal__videre {
                display: none;
            }

            .sporsmal__knapp__tilbake {
                display: block;
            }
        }
    }
}
