@nodeModulesPath: './../../';
@coreModulePath: './../../';

@import '../node_modules/nav-frontend-core/less/core';
@import '../node_modules/nav-frontend-knapper-style/src/index';
@import '../node_modules/nav-frontend-lenker-style/src/lenker-style';
@import '../node_modules/nav-frontend-spinner-style/src/spinner-style';
@import '../node_modules/nav-frontend-typografi-style/src/index';

.limit {
    margin: 1rem auto;
    width: ~'calc(100% - 2rem)';
}

.sporsmal {
    margin: 2rem 0;
    &:first-child {
        margin-top: 1rem;
    }
}

.hjelpetekst {
    color: @navMorkGra;
}