@nodeModulesPath: './../../';
@coreModulePath: './../../';

@import '../node_modules/nav-frontend-core/less/core';
@import '../node_modules/nav-frontend-skjema-style/src/index';
@import '../node_modules/nav-frontend-knapper-style/src/index';
@import '../node_modules/nav-frontend-lenker-style/src/lenker-style';
@import '../node_modules/nav-frontend-spinner-style/src/spinner-style';
@import '../node_modules/nav-frontend-typografi-style/src/index';
@import '../node_modules/nav-frontend-hjelpetekst-style/src/hjelpetekst-style';
@import '../node_modules/nav-frontend-ekspanderbartpanel-style/src/index';
@import '../node_modules/nav-frontend-chevron-style/src/mixins';

@import "./less/sporsmal";
@import "./less/alternativ";
@import "./less/resultat";
@import "./less/tips";
@import './less/knapper';

@navLysBlaLighten90:mix(@navLysBla,#fff,10%);

* {
	box-sizing: border-box;
}

html {
	font-family: 'Source Sans Pro', Arial, sans-serif;
}

html, body, form {
	height: 100%;
}

body {
	background-color: @navLysBlaLighten90;
}

.limit {
	margin: 0 auto;
	height: 100%;
}

.skjemaelement__feilmelding {
	font-style: italic;
	color: @redError;
}

.startside {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	text-align: center;

}

@media (min-width: @screen-sm-min) {
	.limit {
		width: 740px;
	}
}
