@nodeModulesPath: './../../';
@coreModulePath: './../../';

@import '../node_modules/nav-frontend-core/less/core';
@import '../node_modules/nav-frontend-skjema-style/src/index';
@import '../node_modules/nav-frontend-knapper-style/src/index';
@import '../node_modules/nav-frontend-lenker-style/src/lenker-style';
@import '../node_modules/nav-frontend-spinner-style/src/spinner-style';
@import '../node_modules/nav-frontend-typografi-style/src/index';
@import '../node_modules/nav-frontend-hjelpetekst-style/src/hjelpetekst-style';
@import '../node_modules/nav-frontend-paneler-style/src/index';
@import '../node_modules/nav-frontend-ekspanderbartpanel-style/src/index';
@import '../node_modules/nav-frontend-chevron-style/src/mixins';

@import './less/knapper';
@import './skjema/tips/tips';
@import './sporsmal/sporsmal';
@import './alternativ/alternativ';
@import './resultat/resultat';

@navLysBlaLighten90: mix(@navLysBla, #fff, 10%);

html {
    font-family: 'Source Sans Pro', Arial, sans-serif;
}

html,
body,
form {
    height: 100%;
}

body {
    background-color: @white;
}

.limit {
    margin: 0 auto;
    height: 100%;
}

.skjemaelement__feilmelding {
    font-style: italic;
    color: @redError;
}

.startside {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    padding: 0 1.4rem;
    text-align: center;

    .bakgrunn {
        position: relative;
        margin: -1rem -1.4rem;
        height: 40vh;
        background-color: #cce1f7;
        margin-bottom: 3rem;
    }

    .forside-bilde {
        position: absolute;
        top: -40px;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .knapperad {
        margin: 2rem 0 1rem;
    }
}

@media (min-width: @screen-sm-min) {
    .limit {
        width: 740px;
    }
}

@media (min-width: 30em) {
    .typo-sidetittel {
        font-size: 1.875rem;
        line-height: 2.125rem;
    }
    .typo-innholdstittel {
        font-size: 1.5rem;
        line-height: 1.65rem;
    }
}
